<table class="table table-hover table-bordered table-striped">
  <thead>
  <tr>
    <th>Manufacturer</th>
    <th>Brand</th>
    <th>Year</th>
    <th>RAM</th>
    <th>Video</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let computer of computers">
    <td>{{computer.manufacturer}}</td>
    <td>{{computer.brand}}</td>
    <td>{{computer.year}}</td>
    <td>{{computer.ram}}</td>
    <td>{{computer.video}}</td>
  </tr>
  </tbody>
</table>
